.bookCard {
	width: 100%;
	height: 90px;
	background-color: #f9f9f9;
	border: 1px solid #e0e0e0;
	display: flex;
	flex-direction: column;
	padding: 10px 15px;
	border-radius: 5px;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
	gap: 10px;
	overflow-wrap: break-word;
}
.author {
	font-weight: bold;
	color: #333;
}

.book {
	color: #555;
}
