.wrapper {
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;
}

.input {
	padding: 8px 12px;
	font-size: 20px;
	border: 1px solid #ccc;
	border-radius: 5px;
	width: 50%;
	outline: none;
	margin: 10px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.booksList {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 10px;
	list-style-type: none;
	gap: 10px;
}
.error {
	color: red;
	font-weight: bold;
}
.loading {
	font-weight: bold;
}
